@media only screen and (max-width: 480px)

    .input, .selectEtiquetas,#btn-etiqueta
        width: 100% !important

    .infoReceta
        width: 85% !important

    .down-info
        flex-wrap: wrap !important
        height: 100% !important
        overflow-y: scroll 
        .down-left,.down-right
            width: 100% !important
            height: auto !important
            overflow: hidden !important


    .signals
        p
            width: 100% !important
            font-size: large